<div class="dialog-container">
    <mat-icon fontIcon="close" (click)="closeDialog()"></mat-icon>
    <!-- Dialog Top Section -->
    <div class="dialog-top">
        <h1>{{ this.channelService.activeChannel.title }}</h1>
    </div>
    <!-- Dialog Main Section -->
    <div class="dialog-main">
        <div class="dialog-main-box">
            <div class="inner-box">
                <span class="inner-box-title">Info</span>
                <span class="inner-box-info">{{ this.channelService.activeChannel.info }}</span>
            </div>
            <div class="inner-box">
                <span class="inner-box-title">Created by</span>
                <span class="inner-box-info">{{ this.channelService.activeChannel.creator.name }}</span>
            </div>
            <div class="inner-box">
                <span class="inner-box-title">Date of Creation</span>
                <span class="inner-box-info">{{ this.channelService.activeChannel.creationDate }}</span>
            </div>
        </div>
    </div>
</div>