<div class="container">

    <div class="title-and-channel ">
        <div class="title">Threads</div>
    </div>

    <div class="threads-container">
        <div *ngFor="let threadCurrentUser of threadsFromCurrentUser; let i = index">
            <div class="channel"># {{ threadCurrentUser.channel }}</div>
            <div class="post">
                <div class="user-message">
                    <img src="{{ currentUserData.photoURL || '/assets/img/user/profile-picture.png' }}" (click)="getUserInformation(threadCurrentUser)">
                    <div class="user-name-and-message">
                        <div class="user-name-and-time">
                            <div class="user-name" (click)="getUserInformation(threadCurrentUser)">{{
                                currentUserData.displayName }}</div>
                            <div class="time">{{ threadCurrentUser.date | dateAgo }}</div>
                        </div>
                        <div [innerHTML]="threadCurrentUser.content"></div>
                    </div>
                </div>


                <div class="comments-container">
                    <!-- <div *ngIf="single">{{ threadCurrentUser.replies.length }} Antwort</div>
                <div *ngIf="plural">{{ threadCurrentUser.replies.length }} Antworten</div> -->
                    <div class="comments"></div>
                </div>

                <div *ngFor="let threadReplies of this.threadsFromCurrentUser[i].replies" class="user-message-more">
                    <img (click)="getUserInformationReplies(threadReplies)"
                        src="{{threadReplies.user['image'] || '/assets/img/user/profile-picture.png' }}">
                    <div class="user-name-and-message">
                        <div class="user-name-and-time">
                            <div class="user-name" (click)="getUserInformationReplies(threadReplies)">{{
                                threadReplies.user['name']}}</div>
                            <div class="time">{{ threadReplies.date | dateAgo }}</div>
                        </div>
                        <div [innerHTML]="threadReplies.message"></div>
                    </div>
                </div>

                <div class="box-text-editor">
                    <app-commentfield [parentName]="'threadshortcut'"
                        [threadId]="threadsFromCurrentUser[i].threadId"></app-commentfield>
                </div>
            </div>
        </div>
    </div>
</div>