<div *ngIf="this.chatService.chatReady" class="chat-container">
    <div *ngFor="let partner of this.chatService.activeChatPartnerList" class="chat-partner">
        <img src="{{ partner.image }}"
            (click)="this.channelService.messageDialogOpen(partner.name, partner.image, partner.email, partner.id)">
        <span (click)="this.channelService.messageDialogOpen(partner.name, partner.image, partner.email, partner.id)">{{
            partner.name }}</span>
    </div>

    <div id="chat-content" class="chat-content">

        <div *ngFor="let partner of this.chatService.activeChatPartnerList" class="chat-top">
            <img src="{{ partner.image }}"
                (click)="this.channelService.messageDialogOpen(partner.name, partner.image, partner.email, partner.id)">
            <span
                (click)="this.channelService.messageDialogOpen(partner.name, partner.image, partner.email, partner.id)">{{
                partner.name }}</span>
            <div class="chat-subtext">Diese Unterhaltung findet nur zwischen <span class="chat-partner-blue"
                    (click)="this.channelService.messageDialogOpen(partner.name, partner.image, partner.email, partner.id)">@{{
                    partner.name }}</span> und dir statt. Schaue dir das Profil der Person an, um mehr
                über sie zu erfahren.
            </div>
        </div>

        <div *ngFor="let date of this.chatService.dateList" class="chat-date-spacer">
            <div class="chat-date">{{ date | date: 'dd.MM.yyyy' }}</div>

            <ng-container *ngFor="let message of this.chatService.chatHistory">

                <div *ngIf="message.date == date" class="message">

                    <div class="">
                        <img class="message-image" src="{{ message.user.image }}"
                            (click)="this.channelService.messageDialogOpen(message.user.name, message.user.image, message.user.email, message.user.id)">
                    </div>
                    <div class="message-main">
                        <div class="message-main-top">
                            <div class="message-user"
                                (click)="this.channelService.messageDialogOpen(message.user.name, message.user.image, message.user.email, message.user.id)">
                                {{ message.user.name }}</div>
                            <div class="message-time">{{ message.time }}</div>
                        </div>
                        <div class="message-content" [innerHTML]="message.message"></div>
                    </div>

                </div>

            </ng-container>

        </div>

    </div>

    <div class="text-editor">
        <app-commentfield [parentName]="'chat'"></app-commentfield>
    </div>


</div>