<div class="user-shortcut-container">
    <div class="content-header">
        <mat-icon>numbers</mat-icon>
        <span>Users</span>
    </div>

    <div class="content-container">
        <div class="user-container">
            <img src="assets/img/user/profile-picture.png">
            <span>Max Mustermann</span>
        </div>
        <div class="user-container">
            <img src="assets/img/user/profile-picture.png">
            <span>Max Mustermann</span>
        </div>
        <div class="user-container">
            <img src="assets/img/user/profile-picture.png">
            <span>Max Mustermann</span>
        </div>
    </div>
</div>