<mat-toolbar color="primary">
  <mat-toolbar-row class="example-sidenav-content">
    <img class="logo" src="./assets/img/slackclone_white.png">
    <mat-icon class="menu-icon">menu</mat-icon>
    <input id="searchbar" type="text" [(ngModel)]="searchText" [placeholder]="this.searchService.activeComponent">
    <div>
      <span [style.displayName]="true">{{currentUserName$}}</span>
      <span [style.displayName]="true">| Name: {{authUser$.displayName}}</span>
      <span>
        <button mat-button [mat-menu-trigger-for]="userMenu">
          <mat-icon>account_circle</mat-icon>
          <mat-icon>expand_more</mat-icon>
        </button>
      </span>
    </div>



    <ng-template #loginButton>
      <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>Login
      </button>



    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logOut()">Logout</button>
  <button mat-menu-item (click)="openDialog()">Profile</button>
  <button mat-menu-item (click)="logFirebaseAuthCredentials()">log Auth Credits</button>
  <!-- <button mat-menu-item (click)="logAllUsers()">log all Users</button>
  <button mat-menu-item (click)="logUserData()">log UserData</button>
  <button mat-menu-item (click)="logChannels()">log Channels</button> -->
  <!-- <button mat-menu-item (click)="logChats()">log Chats</button>  -->
  <!-- <button mat-menu-item (click)="logThreads()">log Threads</button> -->

</mat-menu>