@import "../../../styles/main.scss";

.menu {
    background-color: $grey;
    border-bottom: $normalBorder;
    color: $textgrey;
}

.displayName{
    font-size: 50px;
    font-weight: 900;
}

.logo{
    width: 200px;
}

input[type=text], select {
    width: 250px;
    color: $darkgrey;
    padding: 4px 4px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid $silvergrey;
    border-radius: 4px;
    background-color: $white;
    box-sizing: border-box;
    outline: none;
  }
