<mat-toolbar color="primary">
  <mat-toolbar-row class="example-sidenav-content">
    <mat-icon class="menu-icon">menu</mat-icon>
    <input type="text">
    <div>
      Current User: {{ currentUserDisplayName }} ......... 
      Current User2: {{ currentUserDisplayName2 }}
      <span>
        <button mat-button [mat-menu-trigger-for]="userMenu">
          <mat-icon>account_circle</mat-icon>
          <mat-icon>expand_more</mat-icon>
        </button>
      </span>
    </div>



    <ng-template #loginButton>
      <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>Login
      </button>



    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logOut()">Logout</button>
  <button mat-menu-item (click)="logUserId()">log User ID</button>
  <button mat-menu-item (click)="logAllUsers()">log all Users</button>
  <button mat-menu-item (click)="logCurrentUserData()">log Current User</button>
  <button mat-menu-item (click)="logCurrentUserData2()">log Current User 2</button>
</mat-menu>