@import "../../../styles/main.scss";

.dialog-top {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $black;
  width: clamp(200px, 1200px, 100%);
  position: relative;
}

.input-field {
    margin-top: 40px;
}
