@import "../../../styles/main.scss";

.dialog-container {
    max-width: 80vw;
    max-height: 80vh;
}

.image {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.cross {
    color: $textgrey;
    background-color: rgba($grey, 0.7);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: rgba($grey, 0.4);
    }
}