<div class="dialog-container">
    <mat-icon class="close-icon" fontIcon="close" mat-button mat-dialog-close></mat-icon>
    <!-- Dialog Top Section -->
    <div class="dialog-top">
        <h1>Invite People to a Chat</h1>
    </div>
    <!-- Dialog Main Section -->
    <div class="dialog-main">
        <div class="dialog-main-box">
            <h4>To:</h4>
            <!-- Dialog Form Section -->
            <form (ngSubmit)="onSubmit()" [formGroup]="dmForm" id="dm-form">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Name" matInput formControlName="displayName"
                        [matAutocomplete]="auto" required (input)="filterUsers()" />
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option (click)="selectUser(user)" *ngFor="let user of filteredUsers" 
                            [value]="user.displayName">
                            {{ user.displayName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <mat-error *ngIf="isButtonDisabled">No matching user found.</mat-error>
            <p class="dialog-description">Search for people and invite them to a conversation.</p>
            <div mat-dialog-actions class="btn-container">
                <button form="dm-form" mat-button [disabled]="isButtonDisabled" class="btn">Create</button>
            </div>
        </div>
    </div>
</div>