@import "../../../styles/main.scss";

.dialog-container {
    color: $white;
    width: 600px;
    position: relative;

    @media (max-width: 600px) {
        width: 100%;
    }

    .close-icon {
        cursor: pointer;
        color: $textgrey;
        position: absolute;
        top: 16px;
        right: 16px;
        transition: all 125ms ease-in-out;

        &:hover {
            color: $white;
        }
    }

    .dialog-top {
        background-color: $darkgrey;
        border-bottom: 1px solid rgba($textgrey, 0.2);
        padding: 24px;

        h1 {
            margin: 0;
        }
    }

    .dialog-main {
        background-color: $grey;
        padding: 32px;

        .dialog-main-box {
            border: 1px solid rgba($textgrey, 0.2);
            border-radius: 8px;
            overflow: hidden;

            h4 {
                color: #d1d2d3;
                margin: 0!important;
                padding: 20px 28px;
            }

            form {
                width: 100%;
                padding: 0px 28px;
            }

            mat-error {
                padding: 0px 28px;
            }

            .dialog-description {
                padding: 6px 28px 0;
                color: gray;
                font-size: 13px;
            }

            .btn-container {
                justify-content: flex-end;
                padding: 20px 28px;

                .btn {
                    padding: 12px;
                    background-color: #3f51b5;
                    color: white;

                    &:disabled {
                        background-color: #35373b;
                    }
                }
            }
        }
    }
}