  <div class="dialog-container">
    <mat-icon class="close-icon" fontIcon="close" mat-button mat-dialog-close></mat-icon>
    <div class="dialog-top">
        <h1>Invite People to a Chat</h1>
    </div>
    <div class="dialog-main">
        <div class="dialog-main-box">
            <h4>An:</h4>
            <div class="create-chat-input">
                <input class="chat-input" type="text" placeholder="name*">
            </div>
            <p class="dialog-description">Suche nach Leuten und lade Sie zu einer Unterhaltung ein.</p>
            <div mat-dialog-actions class="btn-container">
                <button mat-button [disabled]="" class="btn">Weiter</button>
            </div>
        </div>
    </div>
</div>