$white: #ffffff;
$darkblue: #141d2f;
$purple: #9747ff;
$green: #70e61c;
$red: #e61c40;
$transparent: rgba(20, 29, 47, 0.8);
$grey: #222529;
$darkgrey: #1a1d21;

$paddingMainTopBottom: 37px;
$paddingMainLeftRightMax: 100px;
$paddingMainLeftRightMin: 25px;

$menuHeight: 90px;
$menuBreakpoint: 768px;

$spacingRegular: 15px;
$spacingMid: 25px;
$spacingBig: 35px;

$breakpointExpanded: 1280px;
$breakpointMedium: 960px;
$breakpointCompact: 600px;
