@import "../../../styles/main.scss";

.threads-container {
    background-color: $darkgrey;
    padding-bottom: 36px;
    height: calc(100vh - 64px);
    overflow-y: auto;
}

.post {
    margin-top: 36px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: $threadgray;
    border-radius: 10px;
    padding: 36px;
}

.title {
    color: $white;
    padding: 16px;
    font-size: $fonttitle;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.channel {
    color: $white;
    padding-left: 16px;
    font-size: $fonttitle;
    margin-bottom: 28px;
    margin-top: 36px;
}


.user-message {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    padding: 12px;

    &:hover {
        background:rgba(255,255,255, 0.2);
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.user-name-and-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: $fontsubtitle;
}

.user-name {
    font-weight: 800;
    margin-right: 10px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.user-name-and-time {
    display: flex;
}

.time {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $grey;
}

.comments {
    margin-top: 12px;
    margin-left: 16px;
    font-size: $fontsubtitle;
    font-weight: 500;
    color: $blue;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.user-message-more {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 16px;
    padding: 12px;

    &:hover {
        background:rgba(255,255,255, 0.2);
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}