<div class="threads-container">
    <div class="title-channel-and-close-container">
        <div class="title-and-channel">
            <div class="title">Threads</div>
            <div class="channel"># {{ this.channelService.activeChannel.title}}</div>
        </div>
        <div class="close"><img src="assets/img/threads/close.png"></div>
    </div>

    <div class="post">
        <div class="user-message">
            <img src="assets/img/threads/profile-picture.png">
            <div class="user-name-and-message">
                <div class="user-name-and-time">
                    <div class="user-name">{{ this.channelService.activeThread.user['name'] }}</div>
                    <div class="time">{{ this.channelService.activeThread.date }}</div>
                </div>
                <div [innerHTML]="this.channelService.activeThread.content"></div>
            </div>
        </div>
        <div *ngIf="moreThanFive" class="comments">5 weitere Kommentare anzeigen</div>

        <div *ngFor="let reply of channelService.activeThread.replies" class="user-message-more">
            <img src="assets/img/threads/profile-picture.png">
            <div class="user-name-and-message">
                <div class="user-name-and-time">
                    <div class="user-name">Peter</div>
                    <div class="time">{{ this.reply.date }}</div>
                </div>
                <div>{{ this.reply.message }}</div>
            </div>
        </div>
        <app-commentfield></app-commentfield>
    </div>
</div>