@import "../../../styles/main.scss";

.threads-container {
    background-color: $darkgrey;
    padding-bottom: 36px;
}

.title {
    color: $white;
    padding: 16px;
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.channel {
    color: $white;
    padding-left: 16px;
    font-size: 21px;
    margin-bottom: 28px;
    margin-top: 36px;
}


.user-message {
    display: flex;
    background-color: $white;
    border-radius: 10px;
    padding: 36px;
    margin-left: 16px;
    margin-right: 16px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
}

.user-name-and-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 20px;
}

.user-name {
    font-weight: 800;
    margin-right: 10px;
}

.user-name-and-time {
    display: flex;
}

.time {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $grey;
}