@import "../../../styles/main.scss";

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (max-width: 900px) or (max-height: 700px) {
    padding: 16px;
    justify-content: flex-start;
  }

  .logo {
    margin: 0 auto;
    margin-bottom: 32px;
    width: clamp(200px, 380px, 80%);
    object-fit: cover;
  }

  .form-container {
    width: clamp(200px, 380px, 95%);
    background-color: rgb(226, 226, 226);
    padding: 48px;
    border-radius: 16px;

    mat-form-field {
      width: 100%;
    }

    @media (max-width: $breakpointCompact) {
      padding: 24px;
    }
  }

  .sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
  }

  .margin-top16 {
    margin-top: 16px;
  }

  .legal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
    padding-bottom: 32px;

    span {
      font-size: $small;
      color: $textgrey;
      cursor: pointer;
      transition: all 125ms ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.googlelogo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;
}
