<div class="imprint-container">
    <div class="close-icon" routerLink="/"><mat-icon fontIcon="clear"></mat-icon></div>

    <img class="logo" src="assets/img/slackclone_white.png" alt="Logo Slack Clone">

    <div>

        <h1>Impressum</h1>

        <h3>Angaben gemäß § 5 TMG</h3>

        <div>
            <h4>Gruppe 576 - im Auftrag der Developer Akademie</h4>
            vertreten durch:<br />
            <br>
            Alexander Schönfeld<br />
            Anil Orhan<br />
            Yannik Morjan<br />
            Mike Meyer<br />
            <br>
        </div>

        <h3>Kontakt</h3>
        <p>Telefon: +49 (0) 151 255 267 04<br />
            E-Mail: <a class="mail-link"
                href="mailto:contact@mike-meyer.dev?subject=Slack Clone">contact@mike-meyer.dev</a>
        </p>

        <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>

</div>