<div *ngIf="this.channelService.channelReady" class="channel-container">
    <div class="channelTitle">
        <span (click)="this.channelService.channelDialogOpen()">{{ this.channelService.activeChannel.title }}</span>
    </div>
    <div class="channel-top">
        <h1>{{ this.channelService.activeChannel.title }}</h1>
        <div><span class="channel-creator">@{{ this.channelService.activeChannel.creator }}</span> hat diesen
            Channel am {{
            this.channelService.activeChannel.creationDate.toLocaleString() }} erstellt.
            Das ist der Anfang des Channels.</div>
    </div>

    <div *ngFor="let date of this.channelService.dates" class="channel-date-spacer">
        <div class="channel-date">{{ date }}</div>

        <div *ngFor="let post of this.channelService.postings" class="posting">
            <div>
                <img (click)="this.channelService.messageDialogOpen(post.user, post.image)" class="posting-image"
                    src="{{ post.image }}">
            </div>
            <div class="posting-main">
                <div class="posting-main-top">
                    <div class="posting-user" (click)="this.channelService.messageDialogOpen(post.user, post.image)">{{
                        post.user }}</div>
                    <div class="posting-time">{{ post.time }}</div>
                </div>
                <div class="posting-content">{{ post.content }}</div>
                <div *ngIf="post.threads.length > 0">
                    <div class="posting-threads">
                        <div class="posting-thread-preview" *ngFor="let thread of post.threads">
                            <img src="{{ thread.image }}">
                        </div>
                        <span class="posting-thread-reply">{{ post.threads.length }} Antworten</span>
                        <span class="posting-thread-last">Letzte Antwort am {{ post.threads[1].date }}</span>
                        <mat-icon class="posting-thread-navigate" fontIcon="navigate_next"></mat-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>