<mat-drawer class="sidebar" [class.open]="!(globalService.isSidebarOpen$ | async)" [class.close]="globalService.isSidebarOpen$ | async" #sidebar
    opened="{{ globalService.isSidebarOpen$ | async }}" [mode]="drawerMode" autoFocus="false">
    <!-- Sidebar Header -->
    <div class="title">
        <img class="logo" src="./assets/img/slackclone_white.png">
    </div>

    <!-- Shortcuts -->
    <div class="shortcuts-container">
        <a (click)="renderThreadShortcuts(); checkSidebarClosing()">
            <div class="shortcut" [ngClass]="{'active-sidebar-element': shortcuts[0].isActive}">
                <mat-icon>chat</mat-icon>
                <span>Threads</span>
            </div>
        </a>
        <a (click)="renderUsers(); checkSidebarClosing()">
            <div class="shortcut" [ngClass]="{'active-sidebar-element': shortcuts[1].isActive}">
                <mat-icon>group</mat-icon>
                <span>Users</span>
            </div>
        </a>
    </div>

    <!-- Channels -->
    <div class="sidebar-drop-down-container">
        <div class="drop-down-button">
            <mat-icon (click)="toggleDropdown('ch')" class="collapsIcon" [ngClass]="channelsAreOpen ? '' : 'rotate90'">
                arrow_drop_down
            </mat-icon>
            <span (click)="openCreateChannelDialog()">
                Channels
                <mat-icon>add icon</mat-icon>
            </span>
        </div>
        <div *ngIf="channelsAreOpen" class="drop-down-content">

            <div *ngFor="let channel of channels; let i = index" (click)="renderChannel(channel); checkSidebarClosing()"
                class="drop-down-element" [ngClass]="{'drop-down-element': true, 'active-sidebar-element': channel.isActive}">
                <mat-icon class="drop-down-img">numbers</mat-icon>
                <span>{{ channel.title }}</span>
            </div>
            <div class="drop-down-element add-btn" (click)="openCreateChannelDialog()">
                <mat-icon class="drop-down-img">add_box</mat-icon>
                <span>Add Channel</span>
            </div>
        </div>
    </div>

    <!-- Directmessages -->
    <div class="sidebar-drop-down-container">
        <div class="drop-down-button">
            <mat-icon (click)="toggleDropdown('dm')" class="collapsIcon"
                [ngClass]="directmessagesAreOpen ? '' : 'rotate90'">
                arrow_drop_down
            </mat-icon>
            <span (click)="openCreateChatDialog()">
                Directmessages
                <mat-icon>add icon</mat-icon>
            </span>
        </div>
        <div *ngIf="directmessagesAreOpen" class="drop-down-content">
            <div *ngFor="let chatPartner of chatPartners; let i = index" (click)="renderChat(chatPartner); checkSidebarClosing()"
                class="drop-down-element" [ngClass]="{'drop-down-element': true, 'active-sidebar-element': chatPartner.isActive}">
                <img class="drop-down-img" src="{{ chatPartner.photoURL || 'assets/img/user/profile-picture.png' }}">
                <span>{{ chatPartner.displayName }}</span>
            </div>
            <div class="drop-down-element add-btn" (click)="openCreateChatDialog()">
                <mat-icon class="drop-down-img">add_box</mat-icon>
                <span>Add Colleagues</span>
            </div>
        </div>
    </div>

</mat-drawer>