<div class="sidebar">
    <!-- Sidebar Header -->
    <div class="title">
        <span>SlackClone</span>
    </div>

    <!-- Shortcuts -->
    <div class="shortcuts-container">
        <div class="shortcut">
            <mat-icon>chat</mat-icon>
            <span>Threads</span>
        </div>
        <div class="shortcut">
            <mat-icon>group</mat-icon>
            <span>Users</span>
        </div>
    </div>

    <!-- Channels -->
    <div class="sidebar-drop-down-container">
        <div class="drop-down-button">
            <mat-icon (click)="toggleDropdown('ch')" class="collapsIcon" [ngClass]="channelsAreOpen ? '' : 'rotate90'">
                arrow_drop_down
            </mat-icon>
            <span (click)="openCreateChannelDialog()">
                Channels
                <mat-icon>add icon</mat-icon>
            </span>
        </div>
        <div *ngIf="channelsAreOpen" class="drop-down-content">
            <div *ngFor="let channel of channels; let i = index" (click)="renderChannel(channel)" class="drop-down-element">
                <mat-icon class="drop-down-img">numbers</mat-icon>
                <span>{{ channel.title }}</span>
            </div>
            <div class="drop-down-element add-btn" (click)="openCreateChannelDialog()">
                <mat-icon class="drop-down-img">add_box</mat-icon>
                <span>Add Channel</span>
            </div>
        </div>
    </div>

    <!-- Directmessages -->
    <div class="sidebar-drop-down-container">
        <div class="drop-down-button">
            <mat-icon (click)="toggleDropdown('dm')" class="collapsIcon" [ngClass]="directmessagesAreOpen ? '' : 'rotate90'">
                arrow_drop_down
            </mat-icon>
            <span>
                Directmessages
                <mat-icon>add icon</mat-icon>
            </span>
        </div>
        <div *ngIf="directmessagesAreOpen" class="drop-down-content">
            <div class="drop-down-element">
                <img class="drop-down-img" src="assets/img/threads/profile-picture.png">
                <span>Max Mustermann</span>
            </div>
            <div class="drop-down-element">
                <img class="drop-down-img" src="assets/img/threads/profile-picture.png">
                <span>Max Mustermann</span>
            </div>
            <div class="drop-down-element add-btn">
                <mat-icon class="drop-down-img">add_box</mat-icon>
                <span (click)="logThreads()">Add Colleagues</span>
            </div>
        </div>
    </div>

</div>