<div class="sidebar">
    <!-- Sidebar Header -->
    <div class="title">
        <span>SlackClone</span>
    </div>

    <!-- Shortcuts -->
    <div class="shortcuts-container">
        <div class="shortcut">
            <mat-icon>chat</mat-icon>
            <span>Threads</span>
        </div>
        <div class="shortcut">
            <mat-icon>group</mat-icon>
            <span>Users</span>
        </div>
    </div>

    <!-- Channels -->
    <div class="sidebar-drop-down-container">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>Channels</span>
    </div>

    <!-- Directmessages -->
    <div class="sidebar-drop-down-container">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>Direktnachrichten</span>
    </div>
</div>