@import "../../../styles/main.scss";

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - $menuHeight);
    background-color: $grey;
    color: $white;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    
}

.title {
    padding: $spacingRegular;
    font-size: $fonttitle;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.shortcuts-container {
    padding: $spacingRegular;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .shortcut {
        display: flex;
        align-items: center;
        height: 28px;
        padding: 0 $spacingRegular;
        gap: 10px;
        border-radius: 5px;        
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            background-color: rgba(255,255,255,0.2);  
        }
    }
}

.sidebar-drop-down-container {
    padding: $spacingRegular;

    .drop-down-button {
        display: flex;
        align-items: center;
        font-size: $regular;
        
        mat-icon {
            cursor: pointer;
            border-radius: 5px;
            &:hover {
                background-color: rgba(255,255,255,0.2);
            }
        }

        span {
            cursor: pointer;
            border-radius: 5px;
            padding: 4px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

    }

    .drop-down-content {
        font-size: $small;

        .drop-down-element {
            display: flex;
            align-items: center;
            height: 28px;
            padding: 0 $spacingRegular;
            border-radius: 5px;
            cursor: pointer;
            transition: all 125ms ease-in-out;
        
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        
            .drop-down-img {
                font-size: $fontsubtitle;
                height: $fontsubtitle;
                width: $fontsubtitle;
                margin-right: 8px;
                border-radius: 5px;
            }
        }

        .add-btn {
            padding: 0 8px;
            
        }
    }
}