@import "../../../styles/main.scss";

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 64px);
    background-color: $grey;
    color: $white;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
    padding: $spacingRegular;
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.shortcuts-container {
    padding: $spacingRegular;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .shortcut {
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 10px;
    }
}

.sidebar-drop-down-container {
    padding: $spacingRegular;

    .drop-down-button {
        display: flex;
        align-items: center;

    }
    .drop-down-content {
        font-size: 14px;
        margin-left: 25px;

        .add-btn {
            display: flex;
            align-items: center;
            gap: 5px;

            mat-icon {
                transform: scale(0.6);
            }
        }
    }
}

.message {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;

    .message-img {
        height: 20px;
        width: 20px;
        border-radius: 5px;
    }
}

.channel {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    mat-icon {
        transform: scale(0.6);
    }
}