@import "../../../styles/main.scss";

.box {
    position: relative;
}

.quill-text-editor {
    width: 100%;
    background-color: #ffffff;
    border-radius: 11px;
}

.send-icon {
    position: absolute;
    bottom: 40px;
    right: 15px;
    width: 25px;
    height: 25px;
}

.send-btn {
    background-color: rgb(123, 123, 123, 0);
    border: none;

    img {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.image-attachment {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container-attachement {
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}