@import "../../../styles/main.scss";

.main-container {
  background-color: $darkgrey;
  display: flex;
  // 64px is the height of the header, maybe we have to change it
  min-height: calc(100vh - 64px);

  app-channel {
    width: 100%;
  }

  app-chat {
    width: 100%;
  }

  app-threads {
    width: 40%;
  }
}
