@use "node_modules/@ngneat/hot-toast/src/styles/styles.scss";
@import "./styles/main";
@import '~quill/dist/quill.snow.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
  margin-right: 16px;
}

.w100 {
  width: 100%;
}

.mt-32 {
  margin-top: 32px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

//Emoji

.ql-toolbar.ql-snow {
  background-color: rgb(123, 123, 123, 0.3);
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.ng-star-inserted.ql-container.ql-snow {
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -60px inset;
}

.ql-editor.ql-blank::before {
  color: grey;
}
